__pycache__
01-Neural_Networks_and_Deep_Learning/.ipynb_checkpoints
01-Neural_Networks_and_Deep_Learning/Week-3/.ipynb_checkpoints
01-Neural_Networks_and_Deep_Learning/Week-4/.ipynb_checkpoints
02-Improving_Deep_Neural_Networks/Week-1/.ipynb_checkpoints
05-Sequence_Models/Week-1/.ipynb_checkpoints
05-Sequence_Models/Week-2/.ipynb_checkpoints
05-Sequence_Models/Week-3/.ipynb_checkpoints
